/* global */
h2{
    font-size: 38px;
    text-align: center;
}
h3{
    font-size: 32px;
    text-align: center;
}
.left_align{
    text-align: left;
}
.right_align{
    text-align: right;
}
.center_align{
    text-align: center;
}

/* start header */
.header img{
    width: 5%;
    text-align: left;
}
.header h1{
    background-color: red;
    color: white;
}
.header .nav{
    list-style: none;
    text-align: left;
    padding-left: 0;
    font-size: 20px;
}
/* end header */

/* start intro */
.intro,.develop{
    color: white;
    background-color: brown;
}

.intro p{
    font-size: 30px;
}
.intro p span{
    color: black;
    font-style: italic;
    font-weight: bold;
}
.intro img{
    width: 50%;
}
/* end intro */

/* start dev */
.develop ul{
    font-size: 25px;
}
.develop img{
    width: 50%;
}
/* end dev */

/* start menu */
.menu table{
    width: 900px;
    height: 800px;
    padding: 1px;
    margin: auto;
}

table,th,td{
    border: 1px solid black;
}

.menu .menu_heading{
    text-align: center;
}

.menu .greentea_img{
    text-align: right;
    background-image: url(./img/greentea.jpg);
}
.menu .blacktea_img{
    text-align: center;
    background-image: url(./img/blacktea.jpg);
}
.menu .olongtea_img{
    text-align: left;
    background-image: url(./img/olongtea.jpg);
}
.menu .fruit_img{
    text-align: center;
    background-image: url(./img/fruit.jpg);
}
.menu .milktea_img{
    text-align: center;
    background-image: url(./img/milktea.png);
}
/* end menu */

/* start news */
.news_bgcolor{
    background-color: grey;
}
.news{
    background-color: white;
    color: black;
    font-size: 20px;
    width: 60%;
}
.news h1{
    font-size: 38px;
    color: brown;
    text-align: center;
}
.news ol{
    font-size: 20px;
}
.news img{
    width: 100%;
}
/* end news */